.wrapper {
  display: flex;
  gap: 5px;
  flex-direction: column;
  border: 2px solid black;
  width: fit-content;
  border-radius: 5px;
}

.green {
  background-color: green;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}

.light {
  height: 35px;
  width: 35px;
  margin: 10px;
  border-radius: 50%;
}
