.product-cart-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.product-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.product-wrapper {
  width: 50%;
  margin: 5px 0;
}

.product-wrapper > img {
  margin: 5px 5px;
}

.product-detail {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  margin: 5px;
}
.add-product {
  padding: 5px;
  width: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  background-color: lightsalmon;
  cursor: pointer;
}
