body {
  margin: 0;
  padding: 0 35px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.progressbar {
  position: relative; /* with scale */
  height: 20px;
  width: 500px;
  background-color: rgb(217, 221, 225);
  border: 1px solid #aaa2a2;
  border-radius: 15px;
  overflow: hidden;
}

.progressbar > span {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressbar > div {
  height: 100%;

  background-color: rgba(9, 165, 35, 0.781);
}
